
.content{
    display: flex;
    padding: 1em;
}

.filter-box{
    width: 20%;
}

.box{
    border:1px solid #d8d7d7;
    margin-top: 2em;
    padding: 1em;
}

.contenedor-product{
    width: 80%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FDFDFD;
    color: #817979;
    font-weight: 600;
    width: 28%;
    height: 350px;
    margin-left: 2em;
    margin-top: 2em;
}

.img-product{
    width: 100%;
    height: 100%;
}


.cont-img{
    background-image: url("../../assets/img/sin-imagen.jpeg");
    background-size: cover;
    width: 70%;
    height: 70%;
    margin-left: 15%;
}