:root {
  
    /*========== Colors ==========*/
    --text-color: #000000;
    --text-color-dark: #adb5bd;
    --text-color-light: #474545;
    --btn-color-light: #7a7878;
    --body-color-light: #ded9d9;
    --body-color--dark:  #212529;
    --body-color-menu: #F7F7F7;
    --body-color-menu-dark: #252930;
    --body-color-second: #ffffffbe;
    --container-color: linear-gradient(136deg, hsl(120, 1%, 15%) 0%, hsl(0, 0%, 3%) 100%);
    --box-shadow-conten: 0 0.2rem 1rem rgba(1, 1, 85, 0.684), inset 0 -1px 0 rgba(255,255,255,0.15);
    --box-shadow-conten-light: 0 0.1rem .4rem rgba(160, 160, 185, 0.684), inset 0 -1px 0 rgba(117, 119, 132, 0.15);
    --box-shadow-conten-menu: 4px 0px 8px 0 #48529944;
    --box-shadow-conten-menu: 4px 0px 8px 0 #48529944;
    --box-shadow-light: 4px 0px 8px 0 #48529944;
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h4-font-size: 1.25rem;
      --normal-font-size: 1rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-5: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 5rem;

  }

  .body{
    font-size: var(--normal-font-size);
    min-height: 100vh; 
    width: 100%;


    &.light{
        background: var(--body-color--light);
        h2{
            font-size: var(--h2-font-size);
        }
        h4{
            color: var(--text-color-light);
        }
    }
    &.dark{
        background: var(--body-color--dark);
    }
    
    header{
        box-shadow: var(--box-shadow-conten), var(--box-shadow-conten-light);
        top: 0;
        min-width: 100%;

        .navbar{
            padding: 0;
            background: #4545f3;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            z-index: 1;
            min-width: 100%;
            
            .ContLogo{
                color: var(--text-color-dark);
                margin-bottom: .5rem;
                background: #F7F7F7;
                border-radius: 10px;
                border: 1px solid #F7F7F7;
                background: #F7F7F7;
                .logo{
                    width: 90px;
                }
            }

            .search{
                display: flex;
                transition: all 0.3s linear;
            }

            .Cabecera-nav{
                .Cabecera-ul{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;   
                    padding-top: 14px;  
                }
                .Cabecera-li{
                    list-style: none;
                }
    
                .Cabecera-a{
                    text-decoration: none;
                    font-family: sans-serif;
                    color: #f8f7f7;
                    font-size: 1.2rem;
                    flex-wrap: wrap;
                    margin-right: 1.5em;
                    &:hover{
                        color: rgb(75, 171, 223);
                        font-weight: 600;
                    }
                }
            }

            .hr{
                border-left: .3px solid #bfbfbf61;
                height: 30px;
                margin-top: 4px;
            }

            .icons{
                margin: .1em .5em;
                display: flex;
                padding: 0;
                li{
                    list-style: none;
                    a{
                        color: #f8f7f7;
                        i{
                            font-size: 1.1em;
                            padding:  .5em .6em;
                            cursor: pointer;
                        }
                        &:hover{
                            color: rgb(75, 171, 223);
                        }
                    }
                }
            }

            .toogleDark{
                border-radius: 50%;
                padding-top: 5px;
                width: 4em;
                transition: 0.5s;
                cursor: pointer;
                .icon_toogleDark{
                    width: 100%;
                    color: var(--btn-color-light);
                    padding: 0;
                }
            }
        }
    }

    footer{
        position: fixed;
        left: 0px;
        bottom: 0px;
        background: #e2e2e2f6;
        padding: 1em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        p{
            color: #373737;
            flex-wrap: wrap;
        }
    
         .logo{
            width: 80px;
            height: 50px;
        }
    
        .icons{
            a{
                text-decoration: none;
                margin-right: 15px;
                color: #373737;
                cursor: pointer;
                i{
                    color: #373737;
                    font-size: 1.5em;
                }
            }
        }
    }

    .container-xxl{
        display: flex;    
        height: auto;
        padding: 0;
        margin: 0;
        &.light{
            background: var(--body-color-second);
            
        }
        &.dark{
            background: var(--body-color--dark);
        }
    }

    .contenedor{
        width: 100%;
        min-height: 100vh;
        margin: var(--mb-1);
        flex-wrap: wrap; 
        overflow: hidden;
        margin: 0;
        padding: 0;
        margin-bottom: 5em;
        &.light{
        background: var(--body-color-second);
        color: var(--text-color-light);
        }
        &.dark{
            background: var(--body-color-menu-dark);
            h1{
                color: var(--text-color-dark);
            }
        }

        .nav-contenedor{
            display: flex;
            width: 100%; 
            padding: 2em 5em 2em 4em;
            justify-content: space-between;
        }
    
        .tabla {
        width: 95%;
        margin-left: 3%;
        
        }

        table{
            overflow-x: auto;
            white-space: nowrap;
            box-shadow: var(--box-shadow-light);
            .eye{
                color: var(--body-color-second);
            }
            th{
                font-family: var(--body-font);
                font-weight: var(--font-semi-bold);
            }
    
            &.light{
                border-left: var(--mb-0-5) solid var(--body-color-second);
                border-right: var(--mb-0-5)  solid var(--body-color-second);
                background: var(--body-color-second);
                color: var(--text-color-light);
            }
            &.dark{
                th{
                    background: #212529;
                    color: var(--text-color-dark);
                }
                td{
                    background: #212529;
                    color: var(--text-color-dark);
                }
            }

        }
    }

    .error{
        width: 100%;
        min-height: 100vh;
        margin: var(--mb-1);;
        padding-top: 5em;
        text-align: center;
        h1{
            font-size:var(--mb-2-5);
        }
        h2{
            font-size: var(--mb-2);
        }

        &.light{
            background: var(--body-color-second);
            color: var(--text-color-light);
        
        }
        &.dark{
            background: var(--body-color-menu-dark);
            h1,h2{
                color: var(--text-color-dark);
            }
        }
    }
}

.wrapper-Iner{
    background-image: url("../assets/img/wrapper.png"); 
    margin: 0;
    color: #FFFFFF;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 2em;
}

.title{
    color: #FFFFFF;
}

.crubs{
    padding-top: .5em;
    display: flex;
    gap: 10px;
    font-weight: 600;
}
.crubs_a{
    color: #FFFFFF;
    text-decoration: none;
    &:hover{
        color: rgb(75, 171, 223);
    }
}
.crubs i{
    margin-top: 5px;
}


@media(max-width:940px){
    .body{
        header{
            .navbar{
                padding: 0;
                .Cabecera-nav{
                    width:100%;
                    display: grid;
                    height:0vh;
                    opacity: 0;
                    overflow: hidden;
                    transition: all .3s ease;
                    flex-flow: column nowrap;
                    align-items: center;
                    flex-direction: column;
                    &.isActive{
                        height:50vh;
                        opacity: 1;
                        background: #1d2768c6;
                        overflow-y: scroll;
                    }
                    .Cabecera-ul{
                        display: block;
                        margin: 0 3em 0 3em;
                    }
                    .Cabecera-li{
                        margin: 2em;
                        border-bottom: 1px solid #264665;
                        padding-bottom: 0.3em;
                    }
                    .Cabecera-a{
                        padding-bottom: 1em;
                    }
                }
                
            }    
        }
    }
    
    .search{
        position: absolute;
        top: 40px;
        right: 20px
    }

    .ContLogo{
        margin: 10px 0 20px 10px;
    }
    
    .toggler {
        display: flex !important;
        flex-direction: column;
       margin: 10px 30px 0 10px;
       color: #F7F7F7;
       text-decoration: none;
       span{
        width: 25px;
        height: 3px;
        background: #F7F7F7;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin:5px 0px;
        transition: all 0.3s linear;
       }
       &.openToggle  span{
        transform: rotate(45deg) translate(2px, 0px);
       }
       &.openToggle  span:nth-child(2){
        display: none;
       }
       &.openToggle  span:nth-child(3){
        transform: rotate(-45deg) translate(-3.5px, 2px);
       }
    }

}

@media(max-width:700px){

    .container-xxl{
       padding: 0;
        display: block;
        width: 100%;
    }
    .body{
        padding: 0;
        footer{
            flex-wrap: wrap;
            height: auto;
            display: block;
            justify-content: center;
            text-align: center;
            padding-top: 1em;
            p{
                margin: 0;
            }
        }
        .contenedor{
            width: 100%;
            padding: 0;
            margin: 0;
            margin-bottom: 8em;
        }
    }
   
  
}


@media(max-width:580px){
   table{
    width: 100%;
    overflow-x: scroll;
   }
   
    .search{
        justify-content: end;
    }
}

@media(max-width:400px){

    .body{
        .contenedor{
            margin-bottom: 9em;
            .nav-contenedor{
                padding: 2em 0;
                margin: 0;
                h1{
                    margin:auto;
                }
                .addBtn{
                    margin-right: var(--mb-1);
                }
            }
        }
    }
    header{
        .navbar{
            padding-bottom: 50px;
            display: block;
            .ContLogo{
                margin-left: 15%;
                padding:0;
            }
            .search{
                width: 100%;
                justify-content:space-between;
                padding-left: 10px;
                margin: 0;
                .icons{
                    margin-left: 100px;
                }
                .toogleDark{
                    margin-top: 5px;
                    padding:0;
                }
                .hr {
                    &.quit{
                        display: none;
                    }
                } 
            }
        }
    }

    .toggler{
        padding-left: 10px;
    } 
}

@media(max-width:280px){

    .body{
        header{
            .navbar{

                .Cabecera-nav{
                    .Cabecera-ul{
                        display: block;
                        margin: 0;
                    }
                    .Cabecera-li{
                        margin: 2em;
                        border-bottom: 1px solid #264665;
                        padding-bottom: 0.3em;
                    }
                }
                .ContLogo{
                    margin-left: 15%;
                    .logo{
                        width: 80px;
                        margin: 0;
                    }
                }
                .search{
                    .icons{
                        margin-left: 75px;
                        .fa-magnifying-glass{
                            display: none;
                        }
                    }
                    .hr {
                        display: none;  
                    } 
                }
                .toogleDark{
                    padding: 0%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }   
}
