:root {
  /*========== Colors ==========*/
  --text-color: #000000;
  --text-color-dark: #adb5bd;
  --text-color-light: #474545;
  --btn-color-light: #7a7878;
  --body-color-light: #ded9d9;
  --body-color--dark: #212529;
  --body-color-menu: #F7F7F7;
  --body-color-menu-dark: #252930;
  --body-color-second: #ffffffbe;
  --container-color: linear-gradient(136deg, hsl(120, 1%, 15%) 0%, hsl(0, 0%, 3%) 100%);
  --box-shadow-conten: 0 0.2rem 1rem rgba(1, 1, 85, 0.684), inset 0 -1px 0 rgba(255,255,255,0.15);
  --box-shadow-conten-light: 0 0.1rem .4rem rgba(160, 160, 185, 0.684), inset 0 -1px 0 rgba(117, 119, 132, 0.15);
  --box-shadow-conten-menu: 4px 0px 8px 0 #48529944;
  --box-shadow-conten-menu: 4px 0px 8px 0 #48529944;
  --box-shadow-light: 4px 0px 8px 0 #48529944;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 5rem;
}

.body {
  font-size: var(--normal-font-size);
  min-height: 100vh;
  width: 100%;
}
.body.light {
  background: var(--body-color--light);
}
.body.light h2 {
  font-size: var(--h2-font-size);
}
.body.light h4 {
  color: var(--text-color-light);
}
.body.dark {
  background: var(--body-color--dark);
}
.body header {
  box-shadow: var(--box-shadow-conten), var(--box-shadow-conten-light);
  top: 0;
  min-width: 100%;
}
.body header .navbar {
  padding: 0;
  background: #4545f3;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  min-width: 100%;
}
.body header .navbar .ContLogo {
  color: var(--text-color-dark);
  margin-bottom: 0.5rem;
  background: #F7F7F7;
  border-radius: 10px;
  border: 1px solid #F7F7F7;
  background: #F7F7F7;
}
.body header .navbar .ContLogo .logo {
  width: 90px;
}
.body header .navbar .search {
  display: flex;
  transition: all 0.3s linear;
}
.body header .navbar .Cabecera-nav .Cabecera-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 14px;
}
.body header .navbar .Cabecera-nav .Cabecera-li {
  list-style: none;
}
.body header .navbar .Cabecera-nav .Cabecera-a {
  text-decoration: none;
  font-family: sans-serif;
  color: #f8f7f7;
  font-size: 1.2rem;
  flex-wrap: wrap;
  margin-right: 1.5em;
}
.body header .navbar .Cabecera-nav .Cabecera-a:hover {
  color: rgb(75, 171, 223);
  font-weight: 600;
}
.body header .navbar .hr {
  border-left: 0.3px solid rgba(191, 191, 191, 0.3803921569);
  height: 30px;
  margin-top: 4px;
}
.body header .navbar .icons {
  margin: 0.1em 0.5em;
  display: flex;
  padding: 0;
}
.body header .navbar .icons li {
  list-style: none;
}
.body header .navbar .icons li a {
  color: #f8f7f7;
}
.body header .navbar .icons li a i {
  font-size: 1.1em;
  padding: 0.5em 0.6em;
  cursor: pointer;
}
.body header .navbar .icons li a:hover {
  color: rgb(75, 171, 223);
}
.body header .navbar .toogleDark {
  border-radius: 50%;
  padding-top: 5px;
  width: 1.8em;
  margin: 0 0.3em;
  transition: 0.5s;
  cursor: pointer;
}
.body header .navbar .toogleDark img {
  width: 100%;
  color: var(--btn-color-light);
  padding: 0;
}
.body footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: rgba(226, 226, 226, 0.9647058824);
  padding: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.body footer p {
  color: #373737;
  flex-wrap: wrap;
}
.body footer .logo {
  width: 80px;
  height: 50px;
}
.body footer .icons a {
  text-decoration: none;
  margin-right: 15px;
  color: #373737;
  cursor: pointer;
}
.body footer .icons a i {
  color: #373737;
  font-size: 1.5em;
}
.body .container-xxl {
  display: flex;
  height: auto;
  padding: 0;
  margin: 0;
}
.body .container-xxl.light {
  background: var(--body-color-second);
}
.body .container-xxl.dark {
  background: var(--body-color--dark);
}
.body .contenedor {
  width: 100%;
  min-height: 100vh;
  margin: var(--mb-1);
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 5em;
}
.body .contenedor.light {
  background: var(--body-color-second);
  color: var(--text-color-light);
}
.body .contenedor.dark {
  background: var(--body-color-menu-dark);
}
.body .contenedor.dark h1 {
  color: var(--text-color-dark);
}
.body .contenedor .nav-contenedor {
  display: flex;
  width: 100%;
  padding: 2em 5em 2em 4em;
  justify-content: space-between;
}
.body .contenedor .tabla {
  width: 95%;
  margin-left: 3%;
}
.body .contenedor table {
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: var(--box-shadow-light);
}
.body .contenedor table .eye {
  color: var(--body-color-second);
}
.body .contenedor table th {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}
.body .contenedor table.light {
  border-left: var(--mb-0-5) solid var(--body-color-second);
  border-right: var(--mb-0-5) solid var(--body-color-second);
  background: var(--body-color-second);
  color: var(--text-color-light);
}
.body .contenedor table.dark th {
  background: #212529;
  color: var(--text-color-dark);
}
.body .contenedor table.dark td {
  background: #212529;
  color: var(--text-color-dark);
}
.body .error {
  width: 100%;
  min-height: 100vh;
  margin: var(--mb-1);
  padding-top: 5em;
  text-align: center;
}
.body .error h1 {
  font-size: var(--mb-2-5);
}
.body .error h2 {
  font-size: var(--mb-2);
}
.body .error.light {
  background: var(--body-color-second);
  color: var(--text-color-light);
}
.body .error.dark {
  background: var(--body-color-menu-dark);
}
.body .error.dark h1, .body .error.dark h2 {
  color: var(--text-color-dark);
}

.wrapper-Iner {
  background-image: url("../assets/img/wrapper.png");
  margin: 0;
  color: #FFFFFF;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 2em;
}

.title {
  color: #FFFFFF;
}

.crubs {
  padding-top: 0.5em;
  display: flex;
  gap: 10px;
  font-weight: 600;
}

.crubs_a {
  color: #FFFFFF;
  text-decoration: none;
}
.crubs_a:hover {
  color: rgb(75, 171, 223);
}

.crubs i {
  margin-top: 5px;
}

@media (max-width: 940px) {
  .body header .navbar {
    padding: 0;
  }
  .body header .navbar .Cabecera-nav {
    width: 100%;
    display: grid;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    flex-flow: column nowrap;
    align-items: center;
    flex-direction: column;
  }
  .body header .navbar .Cabecera-nav.isActive {
    height: 50vh;
    opacity: 1;
    background: rgba(29, 39, 104, 0.7764705882);
    overflow-y: scroll;
  }
  .body header .navbar .Cabecera-nav .Cabecera-ul {
    display: block;
    margin: 0 3em 0 3em;
  }
  .body header .navbar .Cabecera-nav .Cabecera-li {
    margin: 2em;
    border-bottom: 1px solid #264665;
    padding-bottom: 0.3em;
  }
  .body header .navbar .Cabecera-nav .Cabecera-a {
    padding-bottom: 1em;
  }
  .search {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .ContLogo {
    margin: 10px 0 20px 10px;
  }
  .toggler {
    display: flex !important;
    flex-direction: column;
    margin: 10px 30px 0 10px;
    color: #F7F7F7;
    text-decoration: none;
  }
  .toggler span {
    width: 25px;
    height: 3px;
    background: #F7F7F7;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.3s linear;
  }
  .toggler.openToggle span {
    transform: rotate(45deg) translate(2px, 0px);
  }
  .toggler.openToggle span:nth-child(2) {
    display: none;
  }
  .toggler.openToggle span:nth-child(3) {
    transform: rotate(-45deg) translate(-3.5px, 2px);
  }
}
@media (max-width: 700px) {
  .container-xxl {
    padding: 0;
    display: block;
    width: 100%;
  }
  .body {
    padding: 0;
  }
  .body footer {
    flex-wrap: wrap;
    height: auto;
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
  }
  .body footer p {
    margin: 0;
  }
  .body .contenedor {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 8em;
  }
}
@media (max-width: 580px) {
  table {
    width: 100%;
    overflow-x: scroll;
  }
  .search {
    justify-content: end;
  }
}
@media (max-width: 400px) {
  .body .contenedor {
    margin-bottom: 9em;
  }
  .body .contenedor .nav-contenedor {
    padding: 2em 0;
    margin: 0;
  }
  .body .contenedor .nav-contenedor h1 {
    margin: auto;
  }
  .body .contenedor .nav-contenedor .addBtn {
    margin-right: var(--mb-1);
  }
  header .navbar {
    padding-bottom: 50px;
    display: block;
  }
  header .navbar .ContLogo {
    margin-left: 15%;
    padding: 0;
  }
  header .navbar .search {
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    margin: 0;
  }
  header .navbar .search .icons {
    margin-left: 100px;
  }
  header .navbar .search .toogleDark {
    margin-top: 5px;
    padding: 0;
  }
  header .navbar .search .hr.quit {
    display: none;
  }
  .toggler {
    padding-left: 10px;
  }
}
@media (max-width: 280px) {
  .body header .navbar .Cabecera-nav .Cabecera-ul {
    display: block;
    margin: 0;
  }
  .body header .navbar .Cabecera-nav .Cabecera-li {
    margin: 2em;
    border-bottom: 1px solid #264665;
    padding-bottom: 0.3em;
  }
  .body header .navbar .ContLogo {
    margin-left: 15%;
  }
  .body header .navbar .ContLogo .logo {
    width: 80px;
    margin: 0;
  }
  .body header .navbar .search .icons {
    margin-left: 75px;
  }
  .body header .navbar .search .icons .fa-magnifying-glass {
    display: none;
  }
  .body header .navbar .search .hr {
    display: none;
  }
  .body header .navbar .toogleDark {
    padding: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}/*# sourceMappingURL=Styles.css.map */